@import "config";

@mixin flexCenter($direction) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: $direction;
}

@mixin flexTask {
	display: flex;
	align-items: center;
	width: 100%;
}

body {
	background-color: $primary-color;
	@include flexCenter(row);
	min-height: 100vh;
	font-family: corbel;
}

#container {
	background-color: white;
	width: 350px;
	border: 3px solid black;
	border-radius: 6px;
	padding: 10px;
	font-size: 1.6rem;
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
	@include flexCenter(column);
	h1 {
		font-size: 3rem;
	}
}

.task {
	position: relative;
	@include flexTask;
	background-color: rgb(221, 221, 221);
	border: 1px solid black;
	border-radius: 2px;
	margin: 5px 0;
	padding: 0 8px;
	height: 55px;
	.checkbox {
		transform: scale(1.3);
		cursor: pointer;
		z-index: 1;
	}
	span {
		position: relative;
		width: 80%;
		margin-left: 7px;
		transition: all 0.25s;
		&::after {
			content: " ";
			position: absolute;
			height: 2px;
			width: 0;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			border-radius: 2px;
			background: black;
			transition: inherit;
		}
	}
	.edit {
		color: rgb(0, 110, 255);
		font-size: 1.2rem;
		margin: 0 7px;
	}
	.delete {
		font-size: 1.2rem;
		margin: 0 7px;
		color: red;
	}
	.move {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 85%;
		button {
			transition: color 0.3s;
			font-size: 1.1rem;
			&:hover {
				color: blue;
			}
		}
	}
}

.completed {
	&::after {
		content: "";
		position: absolute;
		background-color: rgba(0, 0, 0, 0.4);
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	span::after {
		width: 100%;
	}
}

.new {
	@include flexTask;
	height: 40px;
	.text {
		background-color: rgba(255, 255, 255, 0);
		border: 0;
		border-bottom: 1px solid darkgray;
		width: 100%;
		height: 100%;
		&:focus {
			outline: none;
		}
	}
	#new-button {
		background-color: lightgreen;
		border-radius: 2px;
		height: 70%;
		aspect-ratio: 1;
		font-size: 1rem;
		transition: font-size 0.1s;
		&:hover {
			font-size: 1.2rem;
		}
	}
}
